<div class="soon" data-vide-bg="../../../../assets/video/flowers" data-vide-options="position: 0% 50%">
  <h1 class="soon_title">Soon, very soon...</h1>
  <a href="" (click)="becameATester()" class="soon_version">v. 0.1 alpha</a>
</div>