@import "../../../../assets/styles/mixins";
@import "../../../../../node_modules/bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.video-back{
    width: 100%; 
    height: 300px;
    position: relative;
    color: white;

    h1{
        text-align: center;        
        position: absolute;        
        bottom: 150px;        
        width: 100%;
    }
    
    .navbar.dark{
        background-color: rgba(17, 17, 17, 0.5);
        opacity: .8;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

.training-cards{
    margin: 20px;

    .card-image{
        width: 100%;
        max-height: 200px;
    }
    
    a{
        margin: 10px 0;
        
        .mat-card{
            padding: 0 !important;

            .mat-card-header{
                padding: 24px;
                padding-bottom: 0;
            }
            .mat-card-content{
                padding: 24px;
            }
        }

        &:hover .mat-card{
            box-shadow: 1px 1px 10px gray;
        }
    }

    a:hover{
        text-decoration: none;
    }
}
