.soon{
    width: 100%; 
    height: 100vh;
    color: white;
    position: relative;
    font-family: 'Tahoma';
    
    h1.soon_title {
        padding-top: 25%;
        text-align: center;
        text-shadow: 1px 1px 5px #333;
        font-size: 40px;
        margin: 0;
        opacity: .7;
    }

    .soon_version{
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: .7;
        color: inherit;
        text-decoration: none;
    }
}
