.video-back{
    width: 100%; 
    height: 300px;
    position: relative;

    h1{
        text-align: center;        
        position: absolute;        
        bottom: 50px;        
        width: 100%;
    }
}

.navbar.dark{
    background-color: rgba(17, 17, 17, 0.5);
    opacity: .8;
}