<nav class="navbar navbar-dark dark navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">
          <i class="material-icons">dashboard</i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">            
          <i class="material-icons">view_carousel</i>
          Trainings
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/vocabulary">
          <i class="material-icons">library_books</i>
          Vocabulary
        </a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>