<div class="container text-center">
  <ul class="list-inline">
    <li class="list-inline-item">
      <a>
        <i class="material-icons">help</i>
        Help
      </a>
    </li>
    <li class="list-inline-item">
      <a>
        <i class="material-icons">bug_report</i>
        Feedback
      </a>
    </li>
  </ul>
  <div>
    Copyright &copy; {{getCurrentYear()}}
  </div>
</div>