<header class="video-back" data-vide-bg="../../../../assets/video/abstract-blue" data-vide-options="position: 0% 50%">  
  <nav class="navbar navbar-dark dark navbar-expand-lg">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <nav class="navbar navbar-dark dark navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-auto">
              <a class="btn btn-link" routerLink="vocabulary">Vocabulary</a>
          </ul>
        </div>
      </nav>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
  <h1>Improve your vocabulary with Word Memorizer!</h1>
</header>

<div class="content container">
  <div class="training-cards row">
    <a href="" class="col-md-4 col-xs-12">
        <mat-card>
          <mat-card-header>
              <i mat-card-avatar class="material-icons dp48">view_carousel</i>
              <mat-card-title>
                <h2>Trainings</h2>
              </mat-card-title>
          </mat-card-header>
          <img src="/assets/Images/TrainingDevelopment.jpeg" alt="" class="card-image"/>
          <mat-card-content>
            <p>
              Train what you've learn't
            </p>
          </mat-card-content>
        </mat-card>
    </a>
    <a href="" class="col-md-4 col-xs-12">
        <mat-card>
          <mat-card-header>
              <i mat-card-avatar class="material-icons dp48">view_carousel</i>
              <mat-card-title>
                <h2>Trainings</h2>
              </mat-card-title>
          </mat-card-header>
          <img src="/assets/Images/TrainingDevelopment.jpeg" alt="" class="card-image"/>
          <mat-card-content>
            <p>
              Train what you've learn't
            </p>
          </mat-card-content>
        </mat-card>
    </a>
    <a href="" class="col-md-4 col-xs-12">
        <mat-card>
          <mat-card-header>
              <i mat-card-avatar class="material-icons dp48">view_carousel</i>
              <mat-card-title>
                <h2>Trainings</h2>
              </mat-card-title>
          </mat-card-header>
          <img src="/assets/Images/TrainingDevelopment.jpeg" alt="" class="card-image"/>
          <mat-card-content>
            <p>
              Train what you've learn't
            </p>
          </mat-card-content>
        </mat-card>
    </a>
    <a href="" class="col-md-4 col-xs-12">
        <mat-card>
          <mat-card-header>
              <i mat-card-avatar class="material-icons dp48">view_carousel</i>
              <mat-card-title>
                <h2>Trainings</h2>
              </mat-card-title>
          </mat-card-header>
          <img src="/assets/Images/TrainingDevelopment.jpeg" alt="" class="card-image"/>
          <mat-card-content>
            <p>
              Train what you've learn't
            </p>
          </mat-card-content>
        </mat-card>
    </a>
  </div>
</div>