@import "mixins";

body{
    margin: 0;
}

.content{
    min-height: 300px;
}

.material-icons{
    vertical-align: sub;
    font-size: 16px;
}

i.dp16 {
    font-size: 16px;
}

i.dp24 {
    font-size: 24px;
}

i.dp48 {
    font-size: 48px;
}