<div [ngSwitch]="template">
    <app-dark-template *ngSwitchCase="TemplateTypes.DarkTemplate"></app-dark-template>
    <app-blue-template *ngSwitchCase="TemplateTypes.BlueTemplate"></app-blue-template>
    <app-soon *ngSwitchCase="TemplateTypes.Soon"></app-soon>
    <app-landing *ngSwitchCase="TemplateTypes.Landing"></app-landing>
</div>